mixin social-media()
  +b.UL.social-media&attributes(attributes)
    +e.LI.__item_twitter
      +e.A.__link(href="#")
    +e.LI.__item_rss
      +e.A.__link(href="#")
    +e.LI.__item_facebook
      +e.A.__link(href="#")
    +e.LI.__item_pinterest
      +e.A.__link(href="#")