.social-media
  display inline-block
  
  &__link
    display inline-block
    width 100%
    height 100%
    background-image url(../../images/sprites/spritesheet.png)
    background-repeat no-repeat
  
  &__item
    display inline-block
    width 35px
    height 34px
    list-style none
    border 1px solid #dcdcdc
    border-radius 3px
  
    &_twitter
      background-color #6dcbe3
      background-image linear-gradient(to top, rgba(0, 0, 0, .4) 0, rgba(255, 255, 255, .4) 100%)
      box-shadow 0 1px 1px rgba(0, 0, 0, .2), inset 0 2px 0 rgba(255, 255, 255, .25), inset 0 0 12px rgba(32, 182, 217, .2)
      
      & .social-media__link
        background-position -304px -11px
      
    &_rss
      background-color #ff9f25
      background-image linear-gradient(to top, rgba(0, 0, 0, .4) 0, rgba(255, 255, 255, .4) 100%)
      box-shadow 0 1px 1px rgba(0, 0, 0, .2), inset 0 2px 0 rgba(255, 255, 255, .25), inset 0 0 12px rgba(210, 174, 82, .2)
      
      & .social-media__link
        background-position -257px -9px
      
    &_facebook
      background-color #5678be
      background-image linear-gradient(to top, rgba(0, 0, 0, .4) 0, rgba(255, 255, 255, .4) 100%)
      box-shadow 0 1px 1px rgba(0, 0, 0, .2), inset 0 2px 0 rgba(255, 255, 255, .25), inset 0 0 12px rgba(96, 146, 210, .2)
      
      & .social-media__link
        background-position -48px -13px
      
    &_pinterest
      background-color #f13434
      background-image linear-gradient(to top, rgba(0, 0, 0, .4) 0, rgba(255, 255, 255, .4) 100%)
      box-shadow 0 1px 1px rgba(0, 0, 0, .2), inset 0 2px 0 rgba(255, 255, 255, .25), inset 0 0 12px rgba(228, 49, 49, .2)
      
      & .social-media__link
        background-position -212px -11px