sprite(x = 0, y = 0) 
  background-position x y

  /*
.sprite {
    background-image url(spritesheet.png)
    background-repeat no-repeat
    display block

    &.sprite-date {
        .stitches-sprite(-13px, -13px, 16px, 15px);
    }

    &.sprite-facebook-icon {
        .stitches-sprite(-55px, -13px, 14px, 29px);
    }

    &.sprite-icon {
        .stitches-sprite(-95px, -13px, 15px, 9px);
    }

    &.sprite-likes {
        .stitches-sprite(-136px, -13px, 16px, 15px);
    }

    &.sprite-magnify-glass {
        .stitches-sprite(-178px, -13px, 14px, 13px);
    }

    &.sprite-pinterest {
        .stitches-sprite(-218px, -13px, 19px, 26px);
    }

    &.sprite-rss-icon {
        .stitches-sprite(-263px, -13px, 22px, 22px);
    }

    &.sprite-twitter-icon {
        .stitches-sprite(-311px, -13px, 18px, 25px);
    }

    &.sprite-views {
        .stitches-sprite(-355px, -13px, 24px, 13px);
    }
}

*/
