mixin vertical-form()
  form.vertical-form
    input.input(type="text" placeholder="your name")
    input.input.input_mail(placeholder='email address')
    textarea.input.input_area(placeholder='message')
    a.link-arrow.js-submit(href='#') Submit
