

.article-preview
  margin 0
  padding 0
  box-sizing border-box
  width 270px
  border 1px solid #dbdbdb
  border-radius 3px
  
  &__illustration
    position relative
    margin 0
    padding 0
    width 100%
      
    &:hover .article-preview__overlay
      opacity .75
      
  &__overlay
    position absolute
    top 0
    width 100%
    height 100%
    background-color #000000
    opacity 0
    transition opacity .55s ease
  
  &__check
    position absolute
    top 50%
    margin-top -25px
    width 100%
    font-size 40px
    line-height 40px
    text-align center
    color white
    transition all .5s ease
    
  &__img
    display block
    width 100%
  
  &__content
    padding 20px 15px
    
  &__header
    margin 0 0 16px
  
  &__heading
    margin 0 0 5px
    text-align left
    
  &__date-wrap
    margin 0
  
  &__date
    margin 0
    font-size 11px
    color #8a8a8a
  
  &__text
    margin 0
  
  &__see-more
    margin-top 16px
    display inline-block
    
    