.main-footer
  width 100%
  
  &__content
    padding 25px 0 30px
    border-top 1px solid #ededed
  
  &__text
    margin 0
    padding 10px 0 0
    float right
    width 274px
    height 13px
    font-size 12px
    font-weight 700
    line-height 23px
    text-shadow 1px 1px 1px #ffffff
    color #4f5356