include ../social-media/social-media

mixin main-footer()
  +b.FOOTER.main-footer
    .container
      +e.content&attributes(attributes)
        +social-media.main-footer__social-media
        +e.P.text Best PSD Freebies  |  info@bestpsdfreebies.com
