.alert-block-wrap
  display block
  & .alert-block
    margin-bottom 20px

.alert-block
  padding 26px 10px
  display block
  width 100%

  font-size 14px
  font-style italic
  line-height 20px
  text-align center
  border-width 1px
  border-style solid
    
  &_regular
    color #98c601
    background-color #effeb9
    border-color #98c601
    
  &_danger
    color #eb5439
    background-color #fbcbc1
    border-color #eb5439
    
  &_warn
    color #fab418
    background-color #ffe9ad
    border-color #fab418
    
  &_info
    color #4d8fcb
    background-color #d1e4f3
    border-color #4d8fcb