font-family-main = "Raleway"
font-family-headiing = "Bellefair"

font-color-black = #2f2f2f
font-color-white = #ffffff
font-color-grey = #8a8a8a
font-color-red = #f03c3c

bg-color-main = #fdfdfd
bg-color-post-preview = #ffffff