extends ../blocks/layout-default/layout-default

include ../blocks/ui-button/ui-button
include ../blocks/alert-block/alert-block

block vars 
  - var pageTitle = 'about'
  
block contents
  main.page-content
    .container
      h1 About Us. Our Mission. Shortcodes. Tons More!
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. 
        Sed nisi. Nulla quis sem at nibh elementum imperdiet. 
        Duis sagittis ipsum. Praesent mauris. Maecenas in magna mollis 
        lectus lacinia mollis. 
        
      .row
        .col-xs-12
          img.about-image(src='images/posts/img-4.jpg' alt='about-image')
          p.
            Maecenas ipsum metus, semper hendrerit varius mattis, 
            hasr congue sit amet tellus. Aliquam ullamcorper dui sed 
            magna posuere ut elem entum enim rutrum. Nam mi erat, 
            porta idso ultrices nec, pellentesq ue vel nunc. Cras 
            varius fermentum iaculis. Aenean sodales nibh non lectus 
            tempor a interdumni justo ultricies. Sed luctus dui nec 
            ni  sl tem pus faucibus sit amet et sem. Aenean augue 
            sapien, sodales ac bibendum ut, pellentesque id eros. 
            Duis tristique porta aliquam. Curabitur sagittis tincidunt 
            erat, quis hendrerit nibh iaculis vitae.
          p.
            Pellentesque ultricies nisl quis odio posuere facilisis. 
            In ut felis erat, ac laoreet orci. Sed lectus nulla, 
            bibendum at vulputate sit amet, tincidunt volutpat lorem. 
            Maecenas in magna mollis lectus lacinia mollis. Donec sit 
            amet volutpat lorem. Pellentesque ultricies nisl quis odio 
            posuere facilisis. In ut felis erat, ac laoreet orci.  
            Aenean augue sapien, sodales ac bibendum ut, pellentesque 
            id eros. Maecenas ipsum metus, semper hendrerit varius 
            mattis, congue sit amet tellus. Aliquam ullamcorper dui 
            sed magna posuere ut elementum enim rutrum. Nam mi erat, 
            porta id ultrices nec, pellentesque vel nunc. Cras varius 
            fermentum iaculis. Aenean sodales nibh non lectus tempor a 
            interdum.
            
      .row
        .col-xs-12
          p.
            Maecenas ipsum metus, semper hendrerit varius mattis, 
            congue sit amet tellus. Aliquam ullamcorper dui sed 
            magna posuere ut elementum enim rutrum. Nam mi erat, 
            porta id ultrices nec, pellentesque vel nunc. Cras 
            varius fermentum iaculis. Aenean sodales nibh non 
            lectus tempor a interdum justo ultricies. Sed luctus 
            dui nec nisl tempus faucibus sit amet et sem. Aenean 
            augue sapien, sodales ac bibendum ut, pellentesque id
            eros.
            
          p.
            Quisque mollis, sem id laoreet pretium, lectus elit
            molestie urna, id tristique risus ante at est. Sed 
            pretium metus sit amet erat blandit vitae pulvinar 
            lorem egestas. Sed lectus nulla, bibendum at vulputate 
            sit amet, tincidunt volutpat lorem. Maecenas in magna 
            mollis lectus lacinia mollis. Donec sit amet volutpat 
            lorem. Duis tristique porta aliquam. Curabitur sagittis
            tincidunt erat, quis hendrerit nibh iaculis vitae. 
            
          p.
            Quisque mollis, sem id laoreet pretium, lectus elit 
            molestie urna, id tristique risus ante at est. Sed 
            pretium metus sit amet erat blandit vitae pulvinar 
            lorem egestas. Sed lectus nulla, bibendum at vulputate 
            sit amet, tincidunt volutpat lorem. Maecenas in magna 
            mollis lectus lacinia mollis. Donec sit amet volutpat 
            lorem. Duis tristique porta aliquam. Curabitur sagittis 
            tincidunt erat, quis hendrerit nibh iaculis vitae. 
            Pellentesque ultricies nisl quis odio posuere facilisis. 
            In ut felis erat, ac laoreet orci.
          
          blockquote 
            p.
              Quisque mollis, sem id laoreet pretium, lectus elit 
              molestie urna, id tristique risus ante at est. Sed 
              pretium metus sit amet erat blandit vitae pulvinar 
              lorem egestas. Sed lectus nulla, bibendum at 
              vulputate sit amet, tincidunt volutpat lorem. Mae 
              trenas in magna mollis lectus lacinia mollis. Donec 
              sit amet volutpat lorem. Du tristique porta aliquam.
              Curabitur sagittis tincidunt erat, quis hendrerit 
              nibh iaculis vitae. Pellentesque ultric nisl quis 
              odio posuere facilisis. In ut felis erat, ac laoreet 
              orci donec sed nulla at sit amet.
              
      .row
        .col-sm-6.col-xs-12
          p.
            Quisque mollis, sem id laoreet pretium, lectus elit 
            molestie urna, id tristique risus ante at est. Sed 
            pretium metus sit amet erat blandit vitae pulvinar 
            lorem egestas. Sed lectus nulla, bibendum at vulputate 
            sit amet, tincidunt volutpat lorem. 
        .col-sm-6.col-xs-12
          p.
            Quisque mollis, sem id laoreet pretium, lectus elit 
            molestie urna, id tristique risus ante at est. Sed 
            pretium metus sit amet erat blandit vitae pulvinar 
            lorem egestas. Sed lectus nulla, bibendum at vulputate 
            sit amet, tincidunt volutpat lorem. 
            
      .row
        .col-sm-4.col-xs-12
          p.
            Quisque mollis, sem id laoreet pretium, lectus elit 
            molestie urna, id tristique risus ante at est. Sed 
            pretium metus sit amet erat blandit vitae pulvinar 
            lorem egestas.
        .col-sm-4.col-xs-12
          p.
            Quisque mollis, sem id laoreet pretium, lectus elit 
            molestie urna, id tristique risus ante at est. Sed 
            pretium metus sit amet erat blandit vitae pulvinar 
            lorem egestas.
        .col-sm-4.col-xs-12
          p.
            Quisque mollis, sem id laoreet pretium, lectus elit 
            molestie urna, id tristique risus ante at est. Sed 
            pretium metus sit amet erat blandit vitae pulvinar 
            lorem egestas.
            
      .ui-button-wrap
        each type in ['green', 'grey', 'blue', 'brown', 'violet', 'red', 'aqua']
          +ui-button(type) Button Text
      
      .alert-block-wrap
        each type in ['regular', 'danger', 'warn', 'info']
          +alert-block(type) Alert Text
