extends ../blocks/layout-default/layout-default

include ../blocks/article-preview/article-preview

block vars 
  - var pageTitle = 'blog'
  
block contents
  main.page-content
    .container
      h1 Read Our Latest Posts. Learn Something New Maybe!
      
      +b.SECTION.blog-promo
        each post in posts
          +e.__item
            +article-preview(post)