extends ../blocks/layout-default/layout-default

include ../blocks/vertical-form/vertical-form
include ../blocks/google-map/google-map

block vars 
  - var pageTitle = 'contact'
  
block contents
  main.page-content
    .container
      h1 Contact Us. Locate Us. Send Us Your Thoughts!
    
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Maecenas in magna mollis lectus lacinia mollis. 
      
      +google-map
      
      +vertical-form
      
append scripts
  - var googleMapsApiSrc = 'https://maps.googleapis.com/maps/api/js?key=' + googleMapsApiKey + '&callback=initMap'
  script(defer src=googleMapsApiSrc)