.main-header
  padding-top 30px
  display block

  &__link
    float left
    width 164px
    height 28px

  &__logo
    width 164px
    height 28px

  &__search
    float right

  &__nav
    margin-top 35px  
  
  @media (max-width: 560px)
    text-align center
    
    &__search, &__link
      margin 12px 40px
      display inline-block
      float none
      width auto
      height auto