.page-content
  padding 30px 0
  // main-header height + main-footer height = 251px
  min-height calc(100vh - 251px)
  
  @media (max-width 691px)
    // main-header height + main-footer height = 394px
    min-height calc(100vh - 394px)